# -*- coding: utf-8 -*-

mysql_host    = '127.0.0.1'
mysql_port    = 3306
mysql_user    = 'test'
mysql_passwd  = 'gate_reger'
mysql_name    = 'gate'
mysql_dry_run = False
use_mysql = True

mongo_host = 'localhost'
mongo_port = 27017
mongo_name = 'reger'

serve_static = True

group_id = 1
login_fmt = "prognoz%03d"
passwd_len = 6

admin_auth = True #Must be false when using mod_wsgi, or need additional configuration
admin_login = "admin"
admin_passwd = "password"

