<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="js/livevalidation.compressed.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Олимпиада</title>  
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <style type="text/css">
            #regform .button {
                  color:#000;
            }
        </style>
    <![endif]-->
</head>

<body>
     <div id="maincontainer" class="container">
        <header class="header clearfix">
            <div class="logo">
                <a href="http://prognoz.ru/"><img src="img/logo.png" alt="prognoz" /></a>
                Олололимпиада
            </div>
            <nav class="menu_main">
                <ul>
                    {% block nav %}
                    <li class="active"><a href="reg">Зарегистрироваться</a></li>
                    <li><a href="users">Список участников</a></li>
                    {% endblock nav %}
                </ul>
            </nav>
        </header>

        <article class="article clearfix">
        {% block content %}
        {% endblock content %}
        </article>
    </div>
</body>
</html>
