<h1>Информация об олимпиаде</h1>
23 апреля 2012 года стартует II краевая олимпиада по программированию для учащихся 7 - 11 классов.
Спонсором олимпиады является ЗАО "Прогноз".

<h2>Порядок проведения</h2>
Олимпиада будет проходить в два этапа.

<ul>
    <li><b>Первый этап</b> - заочный этап, длительность - 1 неделя начиная с 23 апреля</li>
    <li><b>Второй этап</b> - очный этап, который состоится в период майских праздников на базе
        школы №9  им.А.С.Пушкина г.Перми.</li>
</ul>

На очный этап будут приглашены победители и призеры заочного этапа.
Учащимся будут предложены <b>два разных контеста</b>: для начинающих олимпиадников и для тех, кто имеет опыт программирования.
Вы можете самостоятельно выбрать себе для решения любой из контестов.

<h2>Регистрация на олимпиаду и участие</h2>
<p>Для регистрации нужно заполнить форму справа. Обратите внимание, все поля обязательны для заполнения.</p>

При регистрации вам будет выдан логин к <a href="http://school9.perm.ru/gate/">тестирующей системе</a>.
После регистрации вам будет доступен пробный тур и впоследствии контесты первого этапа.

Задачи олимпиады будут доступны 18 апреля 2012 года.

<h2>Тестирующая система</h2>
Для проведения олимпиады используется тестирующая система Gate, расположенная на сервере 9ой школы.
В неё можно попасть со школьного сайта <a href="http://school9.perm.ru/">school9.perm.ru</a>.
 
<h2>Дерзайте! Вы - талантливы!</h2>
