{% extends "base.html" %}

{% block nav %}
    <li class="active"><a href="reg">Зарегистрироваться</a></li>
    <li><a href="users">Список участников</a></li>
{% endblock nav %}

{% block content %}
    {% if error is defined %}
    <p class="warning">{{error}}</p>
    {% endif %}
    <form action="#" method="post" class="form">
        <p>
            <label for="surname">Фамилия&nbsp;</label>
            <input type="text" name="surname" id="surname" value="{{user['surname']|d('')}}" />
        </p>
        <p>
            <label for="name">Имя&nbsp;</label>
            <input type="text" name="name" id="name" value="{{user['name']|d('')}}" />
        </p>
        <p>
            <label for="school">Школа&nbsp;</label>
            <input type="text" name="school" id="school" value="{{user['school']|d('')}}" />
        </p>
        <p>
            <label for="year">Класс&nbsp;</label>
            <input type="text" name="year" id="year" value="{{user['year']|d('')}}" />
        </p>
        <div style="padding-left: 80px;"><button type="submit" class="button">Зарегистрироваться</button></div>
    </form>
{% endblock content %}
